<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/index.css')}}">
    <title>Lexical Analyzer</title>
</head>
<body>
    <div class="container">
        <textarea placeholder="Enter your code here." rows="5" cols="50"></textarea>
        <section >
            <button>Generate token set</button>
        </section>
    </div>
<script>
    
</script>
</body>
</html>